*{box-sizing: border-box;}
body{margin: 0;padding: 0;font-family: tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1"!important;color: #666;}
.content-area{
	margin: 0 auto;
	width: 1024px;
}
.toolbar{
	margin: 15px 0;
}
.box-container{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
}
.box{
	position: relative;
	margin: 50px;
}
.box *{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate3d(-50%,-50%,0);
}
.dialog{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	opacity: 0;
	transition: opacity ease-out 1s;
}
.dialog.show{
	opacity: 1;
}
.dialog-container{
	position: absolute;
	top:50%;
	left: 50%;
	width: 500px;
	background-color: #fff;
	border-radius: 0.4em;
	box-shadow: 3px 2px 4px #fff;
	transition: transform ease-out 1s;
	transform: translate3d(-50%,-250%,0);
}
.dialog.show .dialog-container{
	transform: translate3d(-50%,-50%,0);
}
.dialog-header{
	border-bottom: 2px solid #eee;
}
.dialog-header h1{
	text-align: center;
}
.dialog-body{
	padding: 0 15px;
}
.dialog-footer{
	padding: 15px;
}
.size-item{
	padding:15px 0;
	border-bottom: 1px dashed #eee;
}
.size-item label{
	margin: 0 10px;
}
.size-input-container{
	margin-top: 10px;
	padding-left: 20px;
}
.size-input-container input{
	width: 50px;
}
.icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-bottom: -2px;
}
.add-icon{
	background-size: 16px 16px;
	background-image: url(../img/add.png);
}
.text-icon{
	background-size: 16px 16px;
	background-image: url(../img/text.png);
}
.pic-icon{
	background-size: 16px 16px;
	background-image: url(../img/pic.png);
}
.qrcode-icon{
	background-size: 16px 16px;
	background-image: url(../img/qrcode.png);
}
.btn{
	-webkit-appearance: none;
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 0.4rem;
	color: #2c2c2c;
}
